.information {
  width: 100%;
  color: var(--color-text-on-dark);
}

.information section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.information section,
.information h2,
.information div.center,
.information p,
.information ul {
  position: relative;
  container-type: inline-size;
}

.information {
  --base-font: 2.5rem;
  --font: calc(var(--base-font) * 0.48);
  --width: 95%;
  --end-padding: 6rem;
}

.information section:last-of-type {
  padding-bottom:var(--end-padding);
}

.information h2 {
  font-size: calc(var(--font) * 2);
  margin: calc(var(--font) * 1.2) 0;
  margin-top: calc(var(--font) * 2.4)
}

.information p,
.information ul {
  font-size: var(--font);
  line-height: 1.5em;
}

.information li {
  margin-bottom: calc(var(--font) * 1)
}

.center {
  width: var(--width);
}

@media (min-width: 20rem) {
  .information {
    --interpolate: calc((100vw - 20rem) / 28rem);
    --font: calc(var(--base-font) * (0.4628571429 + 0.4371428571 * var(--interpolate)));
    --width: calc(18rem + 17rem * var(--interpolate));
  }
}

/* @media (min-width: 34rem) {

  .information {
    --font: calc(var(--base-font) * 0.8);
    --width: 30rem;
  }
} */

@media (min-width: 48rem) {

  .information {
    --font: calc(var(--base-font) * 0.9);
    --width: 40rem;
  }
}

.sponsors h2 {
  margin-bottom: 0.5em;
}

@media (min-width: 64rem) {
  .information {
    --interpolate: calc((100vw - 64rem) / 26rem);
    --font: calc(var(--base-font) * (1 + 0.2 * var(--interpolate)));
    --width: calc(45rem + 9rem * var(--interpolate));
    --end-padding: 5rem;
  }
}

@media (min-width: 90rem) {
  .information {
    --font: calc(var(--base-font) * 1.2);
    --width: 54rem;
  }
}
