.contacts {
  margin-top: 1rem;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.875rem;
}

.icons {
  display: flex;
  gap: 0.875rem;
}

.icons img,
.instagram {
  width: 3.125rem;
  height: 3.125rem;

  border-radius: 1.5625rem;
}

.instagram img {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: unset;
}
.email {
  font-size: 1.8rem;
}

@media (min-width: 30rem) {
  .icons img,
  .instagram {
    width: 4.375rem;
    height: 4.375rem;

    border-radius: 2.1875rem;
  }
  .instagram img {
    width: 3.0625rem;
    height: 3.0625rem;
    border-radius: unset;
  }
  .email {
    font-size: 2.1rem;
  }
  .icons {
    gap: 1.225rem;
  }

  .contacts {
    gap: 1.225rem;
  }
}

@media (min-width: 50rem) {
  .contacts {
    width: 120%;
    margin-left: -10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.75rem;
    align-items: center;
  }
  .icons img,
  .instagram {
    width: 6.25rem;
    height: 6.25rem;

    border-radius: 3.125rem;
  }
  .instagram img {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: unset;
  }
  .email {
    font-size: 3rem;
  }
  .icons {
    gap: 1.75rem;
  }
}

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to bottom, #d62976 0%, #fbcd75 100%);
}
